doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title TD2ECS - #{title}
    link(rel="stylesheet", href="/css/app.css")
    script(src="https://kit.fontawesome.com/ec58e5f1d7.js" crossorigin="anonymous")
  body
    header
      nav(class='navbar navbar-expand-md navbar-dark bg-dark')
        div(class='container')
          a(class='navbar-brand' href='/') TD2ECS
          button(class='navbar-toggler' type='button' data-toggle='collapse' data-target='#nsc')
            span(class='navbar-toggler-icon')
          div(class='collapse navbar-collapse' id='nsc')
            div(class='navbar-nav ml-auto')
              button(class='hidden btn btn-outline-secondary' id='logoutBtn') Logout
              button(class='btn btn-outline-secondary' id='loginBtn') Login
              button(class='btn btn-outline-secondary' id='registerBtn') Register
    div(class='container')
      main
        block content
      footer
        p(class='text-center') &copy; 2020 Jacob Lemieux

    script(src='/js/vendor.js')
    script(src='/js/manifest.js')
    script(src='/js/app.js')