template(id='character-form-template')
  form(id='character-form')
    div(class='form-group')
      label(for='name') Name:
      input(class='form-group' type='text' id='name' name='name')
    div(class='form-group')
      label(for='heritage') Heritage:
      input(class='form-group' type='text' id='heritage' name='heritage')
    div(class='form-group')
      label(for='traits') Traits:
    div(class='form-group')
      label(for='pro')
      select(class='form-group' id='pro' name='pro')
        option(value='') -- Select One --
    div(class='form-group')
      label(for='mastery') Mastery:
      input(class='form-group' type='text' id='mastery' name='mastery')